[submodule "src/Freeverb"]
	path = src/Freeverb
	url = https://github.com/anafro/freeverb-modern-components
[submodule "src/ImGui"]
	path = src/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "tools/vcpkg"]
	path = tools/vcpkg
	url = https://github.com/microsoft/vcpkg.git
